<%= form_with(model: datafile, local: true) do |form| %>
  <% if datafile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(datafile.errors.count, "error") %> prohibited this datafile from being saved:</h2>

      <ul>
      <% datafile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :datafile_name %>
  </div>

  <div class="field">
    <%= form.label :filen %>
    <%= form.file_field :filen, id: :datafile_filen %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
